
*{
    background-color: rgb(238, 238, 127);
}
header{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvVxhglgomO7qRUdkK5CqyKyKYGquuVaJ29A&s");
}

h1{color: darkblue;
font-family: cursive;}
h3{color:rgba(93, 123, 219, 0.548);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

p{color: black;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

li{color: black;
font-family:monospace;
}